
<nav class="navbar navbar-expand-lg navbar-light bg-primary">

 
    <a class="navbar-brand text-white" [routerLink]="['/']">
      <img src="../../../assets//github-logo.png" width="50" height="50" alt=""  style="margin-left: 2rem;" />
      <b>GITHUB SEARCHER</b>
    </a>
    <div class="navbar-collapse" >
    <div class="navbar-nav ms-auto" style="margin-right: 2rem;">
      <div *ngIf="email" class="navbar-text float-left">
        <button class="btn btn-primary mt-1">{{ email }}</button>
      </div>
      <a *ngIf="email" class="nav-item nav-link " routerLinkActive="active" [routerLink]="['/']"><button class="btn btn-primary mt-1">Home</button></a>
      <a
        *ngIf="!email"
        class="nav-item nav-link "
        routerLinkActive="active"
        [routerLink]="['/signin']"
        ><button class="btn btn-primary mt-1">Sign In</button></a
      >
      <a
        *ngIf="!email"
        class="nav-item nav-link"
        routerLinkActive="active"
        [routerLink]="['/signup']"
        ><button class="btn btn-primary mt-1">Sign Up</button></a
      >
      <a class="nav-item nav-link" routerLinkActive="active" *ngIf="email" (click)="handleSignOut()"><button class="btn btn-primary mt-1">Sign Out</button></a>
     
    </div>
  
  </div>
</nav>