
<div class="card">
  <div class="card-body text-center font-weight-bolder">
      <img [src]="user.avatar_url" width="150" height="150" class="rounded-circle img-thumbnail border-primary">
     
      <div class="card-title text-primary display-6" style="font-weight: 700;" *ngIf="user.name!=null">
        <a href="{{user.html_url}}" target="_blank">{{user.name}}</a>
      </div>
      <div class="card-text" *ngIf="user.name==null">
        NAME : unspecified
       </div>
      <div class="card-text" *ngIf="user.bio!=null">
        BIO : {{user.bio}}
       </div>
       <div class="card-text" *ngIf="user.bio==null">
        BIO : not specified
       </div>
      <div class="card-text" *ngIf="user.company!=null">
            COMPANY : {{user.company}}
      </div>
      <div class="card-text" *ngIf="user.company==null">
        COMPANY : not specified
    </div>
      <div class="card-text">
        TOTAL REPOS : {{user.public_repos}}
      </div>
      <div class="card-text card-footer text-muted">
        Updated at : 
        {{ user.updated_at | date: "short" }}
      </div>
  </div>
</div>

    